.DS_Store
.vscode/
__pycache__/
*.py[cod]

verification/cocotb/results.xml
verification/cocotb/sim_build/
verification/cocotb/sim_build_*/
verification/cocotb/coverage*.dat
verification/cocotb/coverage_annotated*/
verification/cocotb/coverage_final*/

obj_dir/

/build/blackwell/

MMA-Sim/.github/

openroad/experiments/
openroad/**/run/
openroad/logs/
openroad/objects/
openroad/orfs_artifacts/
openroad/reports/
openroad/results/
openroad/runs/
